.App {
  text-align: center;
}

.background-dim {
  height: 1920px;
  width: 100%;
  background-image: url('/src/img/img1.jpg');
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  width: 100%;
}

.app-cont {
  background-size: 2028px 1135px;
  height: 1139px;
  width: 100%;
  background-image: url('/src/img/img1.jpg');
  background-repeat: no-repeat;
}
.app-cont2 {
  background-size: 2028px 1135px;
  height: 1139px;
  width: 100%;
  background-image: url('/src/img/img2.png');
  background-repeat: no-repeat;
}
.app-cont3 {
  background-size: 2028px 1135px;
  height: 1139px;
  width: 100%;
  background-image: url('/src/img/img3.png');
  background-repeat: no-repeat;
}
.app-cont4 {
  background-size: 2028px 1135px;
  height: 465px;
  width: 100%;
  background-image: url('/src/img/r.png');
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  margin-left: 5%;
  margin-right: 5%;
}